:root {
  --primary-backgroud-color: #1c2b3e;
  --secondary-backgroud-color: #3e4d62;
  --hover-backgroud-color: #bf7b54;
  --icons-border: #1c2b3e;
  --font: "Nunito", sans-serif;
  --font-color: #fffffd;
  --box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-backgroud-color);
  color: var(--font-color);
  font-family: var(--font);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */

header {
  background-color: var(--secondary-backgroud-color);
  box-shadow: var(--box-shadow);
  height: 35px;
}

#nav {
  height: 100%;
}

#nav-ul {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.nav-list {
  width: 50px;
}

.nav-link {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  background-color: var(--hover-backgroud-color);
  border: 1px solid #fffffd;
}

.nav-list:hover > .nav-submenu {
  display: block;
}

.nav-submenu {
  display: none;
  background-color: var(--secondary-backgroud-color);
  position: fixed;
  top: 35px;
  width: 200px;
  z-index: 1;
}

.nav-submenu-list {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid transparent;
}
.nav-submenu-list:hover {
  background-color: var(--hover-backgroud-color);
  border: #fffffd 1px solid;
}

/* section canvas */

main {
  position: relative;
  height: calc(100vh - 35px);
}

#canvas-container {
  height: 100%;
}

#canvas {
  position: absolute;
  background-color: var(--secondary-backgroud-color);
  height: 550px;
  width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}

/* popup */

/* section tools*/

#tools {
  background-color: var(--secondary-backgroud-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.tools-list {
  padding: 10px;
  border: 1px solid var(--icons-border);
  cursor: pointer;
}

.tools-list:hover {
  border: #fffffd 1px solid;
  background-color: var(--hover-backgroud-color);
}

.tool-list-selected {
  border: #fffffd 1px solid;
  background-color: var(--hover-backgroud-color);
}

.tools-icon {
  font-size: 34px;
}

/* aside */

#aside {
  background-color: var(--secondary-backgroud-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 200px;
}

#color-palette {
  border-bottom: 2px solid var(--icons-border);
}

.color-palette-icon {
  font-size: 18px;
  padding: 5px;
  border: 1px solid var(--icons-border);
}

#color-input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 20px 0 20px;
}

#color-selected-container {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 4px;
}

#color-selected-add {
  border: 1px solid var(--icons-border);
  cursor: pointer;
  padding: 5px;
  width: 26px;
}

.color-favorite {
  border: 1px solid var(--icons-border);
  cursor: pointer;
  padding: 5px;
  width: 26px;
  height: 28px;
}

#color-selected-add:hover {
  border: #fffffd 1px solid;
  background-color: var(--hover-backgroud-color);
}

.layers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 2px;
  border: 1px solid transparent;
  cursor: pointer;
}

.layers-icon {
  font-size: 18px;
  padding: 5px;
  border: 1px solid var(--icons-border);
}

.layer-icon {
  font-size: 18px;
  padding: 5px;
  border: 1px solid var(--icons-border);
}

.layer-icon:hover {
  border: #fffffd 1px solid;
  background-color: var(--hover-backgroud-color);
}

#layers-add {
  border: 1px solid var(--icons-border);
  cursor: pointer;
  padding: 5px;
  margin: 10px 10px;
}

#layers-add:hover {
  border: #fffffd 1px solid;
  background-color: var(--hover-backgroud-color);
}

.layers-list-selected {
  border: #fffffd 1px solid;
}

.layers-name {
  width: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}
